//
@use 'bootstrap';

@import "./partials/variables";
@import "./partials/utilities";
@import "./partials/header";
@import "./partials/footer";


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }